<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PowerHousing</title>
</head>

<body>

<a th:href="@{/home}">
    <button>Home</button>
</a>
<a th:href="@{/calculator}">
    <button>Calculator</button>
</a>
<br>
<br>


    Wage type: <label th:field="${calculator.wageType}"></label>


<!--</select>-->
<!--    <br>-->
<!--    <br>-->
<!--    Wages:<input type="text" th:field="*{wageInput}" />-->
<!--    <br>-->
<!--    <br>-->
<!--    Hours Worked: <input type="text" th:field="*{hoursWorked}" />-->
<!--    <br>-->
<!--    <br>-->
<!--    Monthly Expenses: <input type="text" th:field="*{monthlyExpenses}" />-->
<!--    <br>-->
<!--    <br>-->

<!--    Housing Type:  <select>-->
<!--    <option th:value="House" th:text="House"></option>-->
<!--    <option th:value="'One Bedroom Apartment'" th:text="'One Bedroom Apartment'"></option>-->
<!--    <option th:value="'Two Bedroom Apartment'" th:text="'Two Bedroom Apartment'"></option>-->
<!--</select>-->

<!--    <br>-->
<!--    <br>-->
<!--    Neighborhood: <select th:field="${neighborhoods}">-->
<!--    <option th:each="neighborhood : ${neighborhoods}" th:value="${neighborhood}" th:text="${neighborhood}"></option>-->
<!--</select>-->

</body>
</html>